@charset "utf-8";
/*fonts*/
@font-face{
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight : 300;
    src: url('/web/tshop/html/html/gate/lte_transition_promotion/asset/fonts/NotoSansKR-DemiLight-Hestia.eot');
    src: url('/web/tshop/html/html/gate/lte_transition_promotion/asset/fonts/NotoSansKR-DemiLight-Hestia.eot?') format('eot'),url('/web/tshop/html/html/gate/lte_transition_promotion/asset/fonts/NotoSansKR-DemiLight-Hestia.woff') format('woff');
}
@font-face{
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight:600;
    src: url('/web/tshop/html/html/gate/lte_transition_promotion/asset/fonts/NotoSansKR-Bold-Hestia.eot');
    src: url('/web/tshop/html/html/gate/lte_transition_promotion/asset/fonts/NotoSansKR-Bold-Hestia.eot?') format('eot'),url('/web/tshop/html/html/gate/lte_transition_promotion/asset/fonts/NotoSansKR-Bold-Hestia.woff') format('woff');
}

/* Common */
*, *:before, *:after{-webkit-box-sizing:border-box; box-sizing:border-box }
html, body, div, span, applet, object, iform-area, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {font-family:'Noto Sans KR', '맑은 고딕', sans-serif;margin:0;padding:0;border:0;outline:0;vertical-align:baseline;background:transparent;font-size:14px;letter-spacing: -0.05em;line-height:1.5;color:#333;}
body {line-height:1; }
html,body{min-height:100%; }
ul{list-style:none; }
table{border-collapse:collapse; border-spacing:0; width:100%; table-layout:fixed; }
td,th{border-collapse:collapse; border-spacing:0; word-wrap:break-word; word-break:break-all; }
caption{overflow:hidden; width:1px;height:1px; margin:-1px 0px; font-size:1px; line-height:0; }
a{display:block; text-decoration:none; }
img,fieldset,button,input,select,textarea{border:0 none; -moz-appearance:none; appearance:none; -webkit-appearance:none; }
img{max-width:100%;display:block; }
input{border:0; background:#fff }
input:-ms-input-placeholder, textarea:-ms-input-placeholder{color:#999 !important; }
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder{color:#999 !important; }
img,input,select,button,label{vertical-align:top; font-size:16px; }
input[disabled="disabled"]{ background: #f8f8f8 !important}
button:disabled,
button[disabled] {background:#ddd !important;color:#aaa !important;cursor:default !important}
h1{font-size: 27px;}
.hidden,
.blind{overflow:hidden;position:absolute;top:0;left:0;width:1px;height:1px;font-size:0;line-height:0}
.margin0{margin-top:0px !important;}
.margin10{margin-top:10px !important;}

/*style*/
#wrap {-webkit-text-size-adjust: 100%; min-width: 320px; max-width: 648px; margin: 0 auto; }
.container {background: #e7e9ed; overflow: hidden; }
.event-wrap {max-width:564px; margin:30px auto 40px auto; }
.event-wrap.type2 {margin:80px auto 80px;}
.event-wrap.type3 { margin:30px auto 80px;}
.event-wrap .form-area{max-width: 564px; margin: 0 auto 40px; overflow: hidden; background: #fff; }
.event-wrap .top-title {position: relative;height: 72px;font-size:0;line-height:1;}
.event-wrap .top-title > img{display: block;padding-top: 7px;font-size:0;}
.event-wrap .top-title a {position: absolute;top: 0;right: 0;display: block; width: 70px; height: 70px;}
.event-wrap .title-area {text-align:center;position:relative;overflow: hidden;font-size: 0;margin-bottom: -28px;}
.event-wrap .title-area h1{display: inline-block;height: 56px;line-height: 56px;background: #626075;color: #fff;vertical-align: middle;padding: 0 7%;}
.event-wrap .title-area h1.type2{padding:0;}
.event-wrap .title-area:before{content:'';display:inline-block;width:15px;height:56px;background: url('../images/title-bg.png') no-repeat;vertical-align: middle;}
.event-wrap .title-area:after{content:''; display:inline-block; width:15px; height:56px; background: url('../images/title-bg2.png') no-repeat; vertical-align: middle; }
.event-wrap .title-area2 h1 {font-size:0;}

.event-wrap .input-warp{background: url('../images/bg_line.png') no-repeat left bottom; background-size: 100% auto; }
.event-wrap .input-warp.type2 {padding-top:23px;}
.event-wrap .input-warp.type3 {background:#f8f8f8 url('../images/bg_line2.png') no-repeat left bottom; background-size: 100% auto; }
.event-wrap .input-warp.type3 .t-title {margin:0;padding:60px 0 50px;}
.event-wrap .input-warp.type3 .t-title p {line-height:1.3;font-size:20px;}
.event-wrap .input-warp.type3 .t-title strong {font-size:inherit;line-height:inherit}
.event-wrap .input-warp.no-bg {background:#fff;}
.event-wrap .input-warp p.text{font-size: 26px; color: #000; line-height: 150%; text-align: center; padding: 55px 0 35px 0; }
.event-wrap .input-warp p.text .bold-text {font-size: inherit;font-weight:bold;}
.event-wrap .input-warp p.text.type2 {padding:25px 0 10px 0;}
.event-wrap .input-warp p.text.type3 {padding:68px 0 10px 0;}
.event-wrap .input-warp p.sub-desc {font-size:16px;}
.event-wrap .input-warp p.sub-desc .bold-text {font-size: inherit;font-weight:bold;}
.event-wrap .input-warp p.text.type4 {margin:0 !important;max-width:100% !important;padding:60px 10px 0 !important;font-size:22px;line-height:1.4;word-break:keep-all}
.event-wrap .input-warp p.text22 {font-size:22px;padding:25px 0 26px;margin-left:64px;line-height:1.4;}

.event-wrap .input-warp h2{font-size: 18px; color: #4a4a4a; max-width: 420px; margin: 0 auto; margin-top: 20px; font-weight: normal; }
.event-wrap .input-warp h2:before{content:''; display: inline-block; width:4px; height: 10px; background:#4a4a4a; margin-right: 6px; margin-bottom: 2px; }
.event-wrap .input-warp p{max-width: 430px;margin: 0 auto;padding: 0 0 35px;}
.event-wrap .input-warp div.inner {max-width: 430px;margin: 0 auto;padding: 0 0 35px;}
.event-wrap .input-warp div.inner.type2 {padding-bottom:20px;}
.event-wrap .input-warp div.inner .notice-desc {position:relative;padding-left:12px;color: #f70000;font-size:16px;padding-bottom:0;margin:15px 0 0 0;letter-spacing: -0.025em;}
.event-wrap .input-warp div.inner .notice-desc:before {content:'*';position:absolute;left:3px;top:3px;}
.event-wrap .input-warp div.inner .notice-desc +.notice-desc {margin:0;}
.event-wrap .input-warp input[type="number"],
.event-wrap .input-warp input[type="text"],
.event-wrap .input-warp input[type="tel"]{width: 100%; height: 50px; line-height: 50px; margin-top: 15px; text-indent: 28px; background: #f8f8f8; color: #595959; font-family: 'Noto Sans KR', '맑은 고딕', sans-serif; }
.event-wrap .input-warp input[type="tel"]::-webkit-inner-spin-button,
.event-wrap .input-warp input[type="tel"]::-webkit-outer-spin-button{ -webkit-appearance: none;-moz-appearance: none;appearance: none;margin: 0;}
.event-wrap .input-warp .mission_inner_head {padding:145px 0 144px;}
.event-wrap .input-warp .mission_inner_body {padding:53px 0 203px;}
.event-wrap .section-title {font-size:26px;max-width:420px;margin:30px auto 0;letter-spacing: -0.05em;}
.required {display:inline-block;vertical-align:baseline;font-size:14px;color:#f5202f;}
.notice-desc {position:relative;padding-left:12px;color: rgb(247, 0, 0);font-size: 16px;}
.notice-desc:before {content:'*';position:absolute;left:3px;top:3px;}

.event-wrap .chk-warp{max-width: 430px;margin: 0 auto;padding: 25px 0 0;}
.event-wrap .chk-warp ul{overflow:hidden; }
.event-wrap .chk-warp ul li .in-set,
.event-wrap .chk-warp ul li{padding-bottom: 10px; position: relative; padding-right:80px;}
.event-wrap .chk-warp ul li.clear-set {padding-right:0;}
.event-wrap .chk-warp ul li .list-sub-desc {padding:10px 0 0 30px;color:#777;font-size:initial}
.event-wrap .chk-warp ul li .link-btn{position: absolute; right: 0; top: 3px; font-size: 14px; color: #777; text-decoration: underline; background: transparent; cursor:pointer; padding:0; letter-spacing: -0.05em; }

.btn-area{padding: 25px 20px 30px; }
.btn-area.type2 {padding: 25px 20px 60px}
.btn-area button{display: block; max-width: 430px; width: 100%; margin: 0 auto; background: #f5202f; color: #fff; font-size: 21px; line-height: 70px; height: 70px; text-align: center; border: 0; font-weight: 600;cursor:pointer;}
.btn-area button.bg-primary {background:#4a4958;}
.btn-area button.bg-info {background:#dcdbe0;color:#9a9a9a;}
.btn-area.d-type {margin:0 auto;max-width:430px;padding:25px 0 78px}
.btn-area.d-type:after {content:'';clear:both;display:block;}
.btn-area.d-type .box {float:left;width:50%;}
.btn-area.d-type .box.left{padding-right:9px;}
.btn-area.d-type .box.right{padding-left:9px;}
.btn-area .notice-desc {margin:8px 0 0 53px;}

/*checkbox style*/
.event-wrap .chk-warp  [type="checkbox"]:not(:checked), .event-wrap .chk-warp  [type="checkbox"]:checked {position: absolute; left: -9999px; }
.event-wrap .chk-warp  [type="checkbox"]:not(:checked) + label,
.event-wrap .chk-warp  [type="checkbox"]:checked + label {position: relative;padding-left:30px; cursor: pointer; color: #4a4a4a; letter-spacing: -0.05em; }
.event-wrap .chk-warp  [type="checkbox"]:not(:checked) + label:before, .event-wrap .chk-warp  [type="checkbox"]:checked + label:before {content: ''; position: absolute; left: 0; top: 1px; width: 23px; height: 23px; background: url('../images/chk-icon.png') no-repeat -22px 0; }
.event-wrap .chk-warp  [type="checkbox"]:not(:checked) + label:after, .event-wrap .chk-warp  [type="checkbox"]:checked + label:after {content: ''; position: absolute; left: 0; top: 1px; width: 23px; height: 23px; -webkit-transition: all .2s; -o-transition: all .2s; transition: all .2s; background: url('../images/chk-icon.png') no-repeat; }
.event-wrap .chk-warp  [type="checkbox"]:not(:checked) + label:after {opacity: 0; }
.event-wrap .chk-warp  [type="checkbox"]:checked + label:after {opacity: 1;}
.event-wrap .chk-warp  [type="checkbox"] + label {display:block;}
.event-wrap .chk-warp  [type="checkbox"] + label span{font-size: 16px; color: #aaa;}
.event-wrap .chk-warp  [type="checkbox"] + label span.required{font-size: 16px; color: #f70000;}

/* field-set */
.field-set {position:relative;margin-top:0;}
.field-set:first-child {margin-top:15px;}
.field-set .form-set {position:relative;color:#000;}
.field-set .form-set:focus {outline:1px solid #4a4a4a;outline-offset: -1px;z-index:100;}
.field-set.check-type {padding:0;}

/* radio */
.radio-set {position:relative;display:inline-block;margin:0 40px 10px 0;}
.radio-set .label {position:relative;display:inline-block;padding-left:38px;line-height:30px;font-size:16px;cursor:pointer;}
.radio-set .label:before {content:'';position:absolute;left:0;top:0;width:30px;height:30px;background-size:contain;background-image:url('../images/icon-radio.png');background-repeat:no-repeat;}
.radio-set input[type="radio"] {position:absolute;left:0;top:0;width:1px;height:1px;visibility: hidden;}
.radio-set input[type="radio"]:checked + .label:before {background-image:url('../images/icon-radio-checked.png');}

.radio-set.pic-radio {margin:0;display:block;}
.radio-set.pic-radio p {padding:0}
.radio-set.pic-radio .pic-tit{font-size:14px;line-height:1;color:#595959;}
.radio-set.pic-radio .pic-desc{font-size:14px;line-height:1;color:#3b98e6;margin-top:3px;}
.radio-set.pic-radio .pic-desc .check-point {color:inherit}
.radio-set.pic-radio .label {display:block;padding:0;line-height:1;}
.radio-set.pic-radio .label:before {display:none;}
.radio-set.pic-radio .label:after {content:'';position:absolute;top:100%;left:50%;margin-top:5px;transform:translateX(-50%);width:21px;height:21px;background-image:url('../images/icon-radio-type2.png');background-size:contain}
.radio-set.pic-radio input[type="radio"]:checked + .label:before {content:'';display:block;margin-top:5px;position:absolute;top:100%;left:50%;transform:translateX(-50%);width:21px;height:21px;background-image:url('../images/icon-radio-type2-checked.png');background-size:contain}
.radio-set.pic-radio input[type="radio"]:checked + .label:after {display:none;}
.radio-set.pic-radio .pic {display:inline-block;width:100%;padding-bottom:65%;}
.radio-set.pic-radio .pic.spot1 {background:url('../images/tour-spot1.jpg') center top no-repeat;background-size:contain}
.radio-set.pic-radio .pic.spot2 {background:url('../images/tour-spot2.jpg') center top no-repeat;background-size:contain}
.radio-set.pic-radio .pic.spot3 {background:url('../images/tour-spot3.jpg') center top no-repeat;background-size:contain}
.radio-set.pic-radio .pic.spot4 {background:url('../images/tour-spot4.jpg') center top no-repeat;background-size:contain}
.radio-set.pic-radio .pic.spot5 {background:url('../images/tour-spot5.jpg') center top no-repeat;background-size:contain}
.radio-set.pic-radio .pic.spot6 {background:url('../images/tour-spot6.jpg') center top no-repeat;background-size:contain}
.radio-set.pic-radio input[type="radio"]:checked + .label .pic.spot1 {background:url('../images/tour-spot1-checked.jpg') center top no-repeat;background-size:contain}
.radio-set.pic-radio input[type="radio"]:checked + .label .pic.spot2 {background:url('../images/tour-spot2-checked.jpg') center top no-repeat;background-size:contain}
.radio-set.pic-radio input[type="radio"]:checked + .label .pic.spot3 {background:url('../images/tour-spot3-checked.jpg') center top no-repeat;background-size:contain}
.radio-set.pic-radio input[type="radio"]:checked + .label .pic.spot4 {background:url('../images/tour-spot4-checked.jpg') center top no-repeat;background-size:contain}
.radio-set.pic-radio input[type="radio"]:checked + .label .pic.spot5 {background:url('../images/tour-spot5-checked.jpg') center top no-repeat;background-size:contain}
.radio-set.pic-radio input[type="radio"]:checked + .label .pic.spot6 {background:url('../images/tour-spot6-checked.jpg') center top no-repeat;background-size:contain}

/* select */
.field-set select.form-set {width:100%;padding-left:18px;height:50px;line-height:50px;font-family: inherit;border-radius: 0px;ms-appearance: none; -webkit-appearance: none; -moz-appearance: none;appearance: none;background:#f8f8f8 url('../images/icon-select-arrow.jpg') no-repeat 95% 50%;;}
.field-set select.form-set::-ms-expand {display: none;}
.field-set select.form-set:focus::-ms-value {background-color: transparent !important; color:#000;}
.field-set select.form-set option:hover{background: #3f94dd;color:#fff;}
.field-set select.form-set option:checked {background:transparent;color:#000;}

.field-set.btn-type .form-set {width: 70% !important;margin-top:0 !important;}
.field-set.btn-type .count-down-area {position: absolute;top: 50%;right: 35%;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%);}
.field-set.btn-type .count-down-area, .field-set.btn-type .count-down-area span {font-size: 15px;color: #f5202f;}
.field-set.btn-type button {position:absolute;bottom:0;right:0;height:50px;width:30%;background:#434159;color:#fff;cursor:pointer; word-break:keep-all; font-size: 15px;}
.check-type .check-box + .form-set {margin-top:12px;}
.check-type {margin-top:15px;}
.check-type + .check-type {margin-top:26px;}
.field-set + .field-set {margin-top:15px;}

/* rate */
.field-set.rate .rating-area {font-size:0;display:inline-block;margin:0 auto;}
.field-set.rate .rating-area > img {display:inline-block;width:100%;max-width:74px;}
.field-set.rate .rating-area > img + img {margin-left:15px;}

/* hash-tag area */
.hash-area {text-align:center;margin-top:14px;padding:0 20px 50px;word-break: keep-all}
.hash-area .hash-tit {display:block;font-size:24px;font-weight:bold;margin-bottom:23px;}
.hash-area .hash-badge {display:inline-block;padding:2px 18px;border-radius:20px;background:#224332;margin:0;color:#fff;font-size:22px;}
.hash-area .hash-badge > span{vertical-align:4px;color:inherit;font-size:inherit}
.hash-area .hash-box{border:1px solid #224332;max-width:430px;margin:0 auto;padding:34px 10px 20px;border-radius:10px;margin-top:-20px;color:#224332;font-size:22px;}
.hash-area .hash-box span {color:inherit;font-size:inherit}
.hash-area .hash-box span + span {margin-left:5px;}

/* check-box */
.check-box {position:relative;padding-left:40px;text-align:left;display:inline-block;font-size:16px;height:30px;line-height:30px;cursor:pointer;}
.check-box input[type="checkbox"] {position:absolute;left:0;top:0;width:1px;height:1px;z-index:0;}
.check-box input[type="checkbox"] + .fake{position:absolute;left:0;top:0;width:30px;height:30px;background:url("../images/unchecked-input.png") left top no-repeat;background-size:contain;z-index:1;}
.check-box input[type="checkbox"]:checked + .fake{background:url("../images/checked-input.png") no-repeat;background-size:contain}

.info{background:#434159; padding: 45px 35px; }
.info h2, .info p, .info ol li, .info ul li{color:#fff; }
.info h2{font-size:21px; }
.info p, .info ul li{position: relative; margin-top:10px; font-size: 16px; line-height:24px; padding-left: 10px; }
.info p:before, .info ul li:before{content:''; position: absolute; width:4px; height:12px; top: 6px; left: 0; background:#fff; }
.info h2.rect-title {position:relative;padding-left:9px;}
.info h2.rect-title.type2{padding-left:0;}
.info h2.rect-title:before {content:'';position:absolute;top:8px;left:0;width:3px;height:18px;background:#fff;}
.info h2.rect-title.type2:before {display:none;}
.info p > a{display: inline-block; font-size: 18px; }
.info ol{padding-left:15px; margin-top: 20px; }
.info ol li{color: #bbb; line-height: 29px; font-size: 16px; }

/*modal*/
.modal {position: fixed; top: 0; bottom: 0; right: 0; left: 0; margin: 0; padding: 15px; display: none; background: rgba(0, 0, 0, 0.75); cursor: pointer; z-index:99; }
.modal.open {display:block;}
.modal-container {position: absolute; display: block; width: 628px;max-height:710px; padding: 50px 22px 30px; background:#fff; cursor: default; top:50%;left:50%; -webkit-transform:translate(-50%, -50%); -ms-transform:translate(-50%, -50%); transform:translate(-50%, -50%);}
.modal-container .contents{position: relative;}
.modal-container .close-icon{position: absolute; top: -28px; right: 0; width:22px; height:22px; background: url('../images/close_icon.png') no-repeat; padding: 0; z-index:100;cursor: pointer;}
.modal-container > .close-icon {top:20px;right:20px;}
.modal-container .contents .top h2{font-size:26px;}
.modal-container .contents .top h2.blank-type {min-height:39px;}
.modal-container .contents .mid{margin: 30px 0 25px; background: #f8f8f8; padding: 26px 30px; }
.modal-container .contents .mid p, .modal-container .contents .mid ol li, .modal-container .contents .mid ul li{color:#000;}
.modal-container .contents .mid p.type2 {font-size:18px;}
.modal-container .contents .mid p.sub-title {font-size:26px;font-weight:bold;}
.modal-container .contents .mid ol{padding-left:15px;}
.modal-container .contents .bottom{position: relative; display: block; text-align: center; }
.modal-container .contents .bottom button{width: 430px; height: 70px; line-height: 70px; background: #434159; color: #fff; font-size: 21px; font-weight: bold;cursor: pointer;}

.modal.type2 .modal-container{padding:0;min-width:320px;}
.modal.type2 .pop-head {position:relative;background:#434159;padding:21px 20px 21px 20px;}
.modal.type2 .pop-head h1.tit {color:#fff;font-weight:400;}
.modal.type2 h1.tit {font-size:30px;}
.modal.type2 h2.tit {font-size:30px;}
.modal.type2 h3.tit {font-size:20px;}
.modal.type2 .pop-head .close-btn {position:absolute;top:50%;right:22px;-webkit-transform: translateY(-50%);-ms-transform: translateY(-50%);transform: translateY(-50%);}
.modal.type2 .pop-head .close-btn button {width:45px;height:45px;background:transparent;padding:0;margin:0;cursor:pointer;line-height:1;font-size:0;}
.modal.type2 .pop-head .close-btn .icon {width:23px;height:23px;}
.modal.type2 .pop-content { max-height:623px;overflow: auto; }
.modal.type2 .in-title {padding-top:50px;}
.modal.type2 .in-title .img-tit + .tit {margin-top:12px;}
.modal.type2 .in-title + .in-content {margin-top:34px;}
.modal.type2 .in-content {padding:0 40px 48px;}
.modal.type2 .in-content .desc-group {padding:0 30px 35px;}
.modal.type2 .in-content .desc-group.line-type {border:1px solid #e5e5e5;}
.modal.type2 .in-content .desc-group.none-padding {padding:0;}
.modal.type2 .in-content .desc-group h3.tit {margin-top:35px;}
.modal.type2 .in-content .desc-group .desc {margin-top:12px;}
.modal.type2 .in-content .desc-group p.tit {font-size:20px;color:#4a4a4a}
.modal.type2 .in-content .desc-group p.tit.strong {font-weight:bold;}
.modal.type2 .in-content .desc-group p.tit + .u-list {margin-top:11px;}
.modal.type2 .in-content .desc-group + .desc-group {margin-top:24px;}
.modal.type2 .in-content .desc-group.desc-third {border-top:1px solid #ccc; padding-top:18px;}
.modal.type2 .in-content .desc-group.desc-third .img-section img{margin:22px auto; width:120%;}
.modal.type2 .in-content .desc h4.tit {font-size:20px;line-height:1.5;color:#333;}
.modal.type2 .in-content .desc p.text-type1 {font-size:20px;line-height:1.4;}
.modal.type2 .in-content .desc p.text-type2 {font-size:16px;line-height:1.5;}
.modal.type2 .in-content .desc p.text-type2 + .img-section {margin-top:27px;}
.modal.type2 .in-content .desc h5.tit ,
.modal.type2 .in-content .desc p.h5_tit {font-size:16px;color:#595959;line-height:1.5;}
.modal.type2 .in-content .desc p + h5.tit{margin-top:7px;}
.modal.type2 .in-content .desc p span,
.modal.type2 .in-content .desc p strong {font-size:inherit;}
.modal.type2 .in-content .desc .img-section {position:relative;}
.modal.type2 .in-content .desc .img-section img {display:block;width:100%;max-width:100%;}
.modal.type2 .in-content .desc .img-section.full-size-case {margin:0 -30px;}
.modal.type2  .tit.rect-type {position:relative;padding-left:10px;}
.modal.type2  .tit.rect-type:before {content:'';position:absolute;left:0;top:9px;width:4px;height:12px;background:#333;}
.modal.type2 .pop-foot .btn-area{padding:0 40px 50px}
.modal.type2 .pop-foot .btn-area .btn {max-width:100%;}
.modal.type2 .pop-foot .btn-area .btn.default-bg {background:#434159}
.modal.type2 .fc-red {color:#f70000;}
.modal.type2 .u-list {color:#595959;}
.modal.type2 .u-list li {position:relative;padding-left:10px;font-size:16px;line-height:1.3;}
.modal.type2 .u-list li + li {margin-top:14px;}
.modal.type2 .u-list.circle-type li:before{ content:'';position:absolute;top:5px;left:0;width:5px;height:5px;border-radius:50%;background:#595959;}
.modal.type2 .u-list.circle-type li .fc-red{font-size:16px;}
/* row-layout */
.row-layout {position:relative;}
.row-layout .row:after{content:'';clear:both;display:block;}
.row-layout .row .column {float:left;}
.row-layout .row .column.n2{width:50%}
.row-layout .row .column.n3{width:33.3333%}
.row-layout .row .column.n4{width:25%}
.row-layout .row .column.n5{width:20%}

.row-layout.pic-radio-type {padding:0 40px 30px;}
.row-layout.pic-radio-type .row{padding-bottom:36px;}
.row-layout.pic-radio-type .column-inner {margin-top:6px;}

/* bullet_style */
.info .bullet_style li {word-break: keep-all;}
.info .bullet_style li p{color:#bfb9ff; line-height:20px; padding-left:0; margin-top:0;}
.info .bullet_style li:before{width:3px; height:3px; border-radius:3px;top:12px;}
.info .bullet_style p:before{display:none;}
.info .bullet_style + h2.rect-title {margin-top:20px;}

/* text align */
.tal {text-align:left !important;}
.tar {text-align:right !important;}
.tac {text-align:center !important;}

/* v aling */
.vat {vertical-align:top}
.vam {vertical-align:middle}
.vab {vertical-align:bottom}

/* line-height */
.l-height11 {line-height:1.1 !important}
.l-height12 {line-height:1.2 !important}
.l-height13 {line-height:1.3 !important}
.l-height14 {line-height:1.4 !important}
.l-height15 {line-height:1.5 !important}
.l-height16 {line-height:1.6 !important}

/* font-sizE */
.fs-24 {font-size:24px !important;}
.fs-23 {font-size:23px !important;}
.fs-22 {font-size:22px !important;}
.fs-21 {font-size:21px !important;}
.fs-20 {font-size:20px !important;}

/* padding */
.pt0 {padding-top:0 !important;}
.pb0{padding-bottom:0 !important;}
.pb10{padding-bottom:10px !important;}
.pt35{padding-top:35px !important;}

/* margin */
.mt0 {margin-top:0 !important}
.mt10 {margin-top:10px !important}
.mt20 {margin-top:20px !important}
.mt30 {margin-top:30px !important}
.mt40 {margin-top:40px !important}
.mt50 {margin-top:50px !important}
.mt60 {margin-top:60px !important}

/* font-color */
.fc-grey {color:#595959 !important;}
.fc-red {color:#f5202f !important;}
.fc-green {color:#224332}

/* display */
.dp-b {display:block;}
.dp-ib {display:inline-block;}

/*font- weight */
.fontBold{font-weight: bold;}
.fw-b {font-weight: bold;}
.fw-no {font-weight: normal;}

/* etc */
body.modal-open {overflow: hidden !important;}

/*friend_promo style*/
.event-wrap .title-area.text-type:before,
.event-wrap .title-area.text-type:after{display:none;}
.event-wrap .title-area.text-type h1{font-weight: normal;width: 100%;padding: 25px;height: auto;line-height: 27px;text-align: center;}
.event-wrap .title-area.text-type strong{font-weight: bold;color: #fff;font-size: 27px;}
.event-wrap .input-warp div.inner .notice-desc-type2{margin: 15px auto;}
.event-wrap .input-warp div.inner .notice-desc-type2 li{color: #595959;letter-spacing: -0.025em;font-size: 16px;position: relative;padding-left: 12px;}
.event-wrap .input-warp div.inner .notice-desc-type2 li + li{margin-top:5px;}
.event-wrap .input-warp div.inner .notice-desc-type2 li:before{content: '*';position: absolute;left: 3px;top: 3px;}
.info .title-type2{font-size:31px; font-weight:bold; color:#fff; margin: 0 0 20px;}

.icon.icon-white-x {background:url('../images/icon-white-x.png') center center no-repeat;background-size:contain;}
.icon {display:inline-block;}

/*5gx check-list style*/
.text-wrap .t-title{text-align:center; margin-top:40px;}
.text-wrap .t-title h3{font-size:26px;}
.text-wrap .t-title h3 span{display:inline-block; vertical-align:middle;}
.text-wrap .t-title p{font-size:18px; margin-top:10px; padding:0;}
.text-wrap ul{max-width: 430px; margin:0 auto;padding: 40px 0;}
.text-wrap ul li{display:block; text-align:center;}
.text-wrap ul li + li{border-top:1px solid #dbdbde; padding-top: 30px; margin-top:30px;}
.text-wrap .list{}
.text-wrap .list img{margin:0 auto;}
.text-wrap .list h4{font-size:20px; color:#f5202f;margin-top:10px;}
.text-wrap .list p{color: #595955; font-size:16px; padding: 0; margin-top:8px;}
.text-wrap .list strong{color: #000; font-size:16px;}

/*history section*/
.history-section .tbl-area strong.tit {display: block;margin: 55px auto 25px;font-size: 26px;letter-spacing: -0.05em;}
.history-section .tbl-area strong.tit:before {content: '';display: inline-block;width: 4px;height: 14px;background: #4a4a4a;margin-right: 6px;margin-bottom: 2px;}

/*tbl_row*/
table {
    border: 0;
    border-spacing: 0;
    border-top: 1px solid #e1e1e1
}

table caption {
    overflow: hidden;
    height: 0;
    font-size: 0;
    line-height: 0;
    color: transparent
}
table td, table th {
    padding: 20px 30px 19px 34px;
    color: #000;
    font-size: 15px;
    line-height: 1.5;
    border: 0;
    vertical-align: middle;
    border-bottom: 1px solid #e1e1e1
}
table th {
    font-weight: bold;
    background-color: #fafafa;
}
.tbl_row td,
.tbl_row th {
    text-align: left;
}
.tbl_row th {
    border-right: 1px solid #e1e1e1
}
.tbl_col td,
.tbl_col th {
    text-align: center;
    border-left: 1px solid #e1e1e1
}
.tbl_col td:first-child,
.tbl_col th:first-child {
    border-left: 0
}

.modal-container .top h2{display:inline-block;}
.modal-container .top span{margin-left:5px;}

.text-wrap .hashtag{padding:8px 0 0;}
.text-wrap .hashtag li{display: inline-block; font-size:16px; padding:0 6px;}
.text-wrap .hashtag li:before{content:'#';}
.text-wrap .hashtag li + li{margin:0; border:none;}

.modal-container .ideal{position:relative; padding-left:17px;}
.modal-container .ideal:before{content:'※';position:absolute; top:0; left:0;}

/*download-link style*/
.download-link{font-size: 22px;line-height: 1.5;color: #489bdf;text-decoration: underline;text-align: center;margin: 25px 0 30px;}

/*note10 title style*/
.event-wrap .title-area.text-type h1.note10-title{padding:0;}

.fc-red {color:#f70000;}

@media only screen and (max-width: 648px) {
    h2{font-size:17px !important;}
    .container .event-wrap{margin:20px auto; padding: 0 4%;}
    .container .event-wrap .top-title {height: 50px;}
    .container .event-wrap .top-title > img{padding-top: 7px;}
    .container .event-wrap .top-title a {position: absolute;top: 0;right: 0;max-width: 70px;width: 50px;max-height: 70px;height: 50px;}
    .container .event-wrap .title-area{margin-bottom: -18px; white-space: nowrap;}
    .container .event-wrap .title-area h1{font-size:20px;height:40px;line-height:40px;}
    .container .event-wrap .title-area h1 img {height:40px;}
    .container .event-wrap .title-area:before, .container .event-wrap .title-area:after{height:40px; background-size:77%;}
    .container .event-wrap .title-area:before{background-position-x: 4px;}
    .container .event-wrap .input-warp p.text{font-size: 18px; padding: 30px 0 20px 0;}
    .container .event-wrap .input-warp p.text.type2 {padding:15px 0 5px 0;}
    .container .event-wrap .input-warp p.text.type4 {padding:45px 10px 0 !important}
    .container .event-wrap .input-warp p.text22 {font-size:18px;padding:20px 10px 30px 0;margin-left:30px;}
    .container .event-wrap .input-warp p.sub-desc {font-size:12px;padding-top:0;}
    .container .event-wrap .input-warp h2{margin: 20px 20px 0 20px;}
    .container .event-wrap .input-warp p,
    .container .event-wrap .input-warp div.inner,
    .text-wrap ul{padding: 10px 20px 30px 20px; max-width: inherit;}
    .container .event-wrap .input-warp div.inner.type2 {padding-bottom:15px;}
    .container .event-wrap .input-warp input[type="text"],
    .event-wrap .input-warp input[type="tel"]{height: 40px;line-height: 40px;font-size: 13px; text-indent: 20px;}
    .container .event-wrap .form-area .chk-warp{padding: 15px 20px 0 20px; max-width: inherit;}
    .container .event-wrap .form-area .chk-warp ul li input[type="checkbox"]+label, .container .event-wrap .form-area .chk-warp ul li span{font-size: 14px;line-height:1.7;}
    .event-wrap .chk-warp ul li .link-btn{font-size: 13px;}
    .event-wrap .chk-warp [type="checkbox"]:not(:checked) + label:before,
    .event-wrap .chk-warp [type="checkbox"]:checked + label:before,
    .event-wrap .chk-warp [type="checkbox"]:not(:checked) + label:after,
    .event-wrap .chk-warp [type="checkbox"]:checked + label:after {top:0;}
    .event-wrap .chk-warp ul li .list-sub-desc {padding-left:30px;color:#777;font-size:14px;}
    .event-wrap .chk-warp ul li .list-sub-desc br {display:none;}
    .container .event-wrap .form-area .btn-area{padding:10px 20px 20px}
    .container .event-wrap .form-area .btn-area button{font-size: 18px;height: 50px;line-height: 50px;max-width: inherit;}
    .container .event-wrap .form-area .btn-area.type2 {padding: 25px 20px 40px;}
    .container .event-wrap .form-area .btn-area.d-type {padding:10px 0 39px;max-width:100%;margin:0 20px;}
    .event-wrap .input-warp div.inner .notice-desc{font-size:12px;padding:0 0 0 12px}
    .event-wrap .input-warp div.inner .in-h2-type {margin:20px 0 0 0;}
    .event-wrap .input-warp .mission_inner_head {padding:70px 0;}
    .event-wrap .input-warp .mission_inner_body {padding:30px 0 107px;}
    .event-wrap .input-warp.type3 .t-title{padding:35px 0 25px;}
    .event-wrap .input-warp.type3 .t-title p{padding:0 10px;font-size:16px;}
    .event-wrap .section-title {font-size:20px;margin:20px 20px 0;}
    .notice-desc {font-size: 12px;}

    .btn-area .notice-desc {margin:8px 0 0;}

    .container .info{padding:35px 20px;}
    .container .info h2{font-size: 25px;}
    .container .info p{ margin-top: 20px;font-size: 18px;}
    .container .info p:before{height:16px;top: 7px;}
    .container .info ol{margin-top: 10px;}
    .container .info ol li{font-size:13px;}
    .container .info h2.rect-title:before {top:7px;height:14px;}
    .modal-container{width: 90%;max-height: 90%;margin: 0 auto;padding: 40px 22px 22px;}
    .modal-container .close-icon{top: -13px;}
    .modal-container > .close-icon {top:20px;}
    .modal-container .contents .top h2{font-size:20px;}
    .modal-container .contents .mid{margin: 22px 0 20px; padding:22px;}
    .modal-container .contents .mid p.type2 {font-size:14px;}
    .modal-container .contents .mid p.sub-title {font-size:22px;font-weight:bold;}
    .modal-container .contents .bottom button{width: 65%;height: 50px;line-height: 50px;font-size: 17px;}

    /* rate */
    .field-set.rate {text-align:center;}
    .field-set.rate .rating-area {position:relative;display:inline-block;white-space:nowrap;}
    .field-set.rate .rating-area > img {width:calc(20% - 10px);margin:0 5px;}
    .field-set.rate .rating-area > img + img{margin:0 5px;}

    .field-set.btn-type button {height:40px; font-size: 12px;}
    .field-set select.form-set {height:40px;line-height:40px;font-size:13px;background-size:10px;}
    .field-set.radio-group {}

    .radio-set {margin:0 20px 10px 0;}
    .radio-set .label {padding-left:26px;line-height:20px;font-size:14px;}
    .radio-set .label:before {width:20px;height:20px;}

    .check-box +.form-set {margin-top:6px;}
    .check-box {position:relative;padding-left:32px;font-size:14px;height:24px;line-height:24px;}
    .check-box input[type="checkbox"] + .fake{width:24px;height:24px;}

    body.modal-open {overflow: hidden !important;position:fixed !important;}

    .info p, .info ul li, .info ol li {margin-top: 10px;font-size:14px;}
    .info ul li, .info ol li {line-height: 1.5;}
    .info p:before, .info ul li:before {top: 5px; height: 10px;}
    .field-set.btn-type .count-down-area, .field-set.btn-type .count-down-area span {font-size: 14px;}
    /*bullet_style*/
    .info .bullet_style li p{font-size:14px;}
    .info .bullet_style li br{display:none;}

    /*friend_promo style*/
    .container .event-wrap .title-area.text-type h1, .container .event-wrap .title-area.text-type strong{font-size:18px; height:auto; line-height:18px;padding: 25px 10px;}
    .container .event-wrap .title-area.text-type strong{padding:0;}
    .event-wrap .input-warp div.inner .notice-desc-type2 li{font-size:12px;}
    .info .title-type2{font-size:27px;}

    .field-set:first-child {margin-top:5px;}
    .mt50 {margin-top:25px !important}

    /* modal type 2 */
    .modal.type2 .pop-head {padding:16px 15px 16px 15px;}
    .modal.type2 .pop-head h1.tit {color:#fff;}
    .modal.type2 h1.tit {font-size:24px;}
    .modal.type2 h2.tit {font-size:24px;}
    .modal.type2 h3.tit {font-size:16px;}
    .modal.type2 .pop-head .close-btn {right:11px;}
    .modal.type2 .pop-head .close-btn button {width:30px;height:30px;}
    .modal.type2 .pop-head .close-btn .icon {width:19px;height:19px;}
    .modal.type2 .pop-content {height: 440px;max-height:440px;}
    .modal.type2 .in-title {padding-top:30px;}
    .modal.type2 .in-title .img-tit + .tit {margin-top:8px;}
    .modal.type2 .in-title + .in-content {margin-top:20px;}
    .modal.type2 .in-content {padding:0 20px 24px;}
    .modal.type2 .in-content .desc-group {padding:0 15px 18px;}
    .modal.type2 .in-content .desc-group h3.tit {margin-top:18px;}
    .modal.type2 .in-content .desc-group .desc {margin-top:8px;}
    .modal.type2 .in-content .desc-group p.tit {font-size:16px;}
    .modal.type2 .in-content .desc-group p.tit + .u-list {margin-top:7px;}
    .modal.type2 .in-content .desc-group + .desc-group {margin-top:16px;}
    .modal.type2 .in-content .desc-group.desc-third{padding-top: 14px;}
    .modal.type2 .in-content .desc-group.desc-third .img-section img{margin: 13px auto;}
    .modal.type2 .in-content .desc h4.tit {font-size:16px;}
    .modal.type2 .in-content .desc p.text-type1 {font-size:14px;}
    .modal.type2 .in-content .desc p.text-type2 {font-size:12px;}
    .modal.type2 .in-content .desc h5.tit,
    .modal.type2 .in-content .desc p.h5_tit {font-size:14px;}
    .modal.type2 .in-content .desc p + h5.tit{margin-top:3px;}
    .modal.type2 .in-content .desc .img-section.full-size-case {margin:0 -15px;}
    .modal.type2  .tit.rect-type {padding-left:6px;}
    .modal.type2  .tit.rect-type:before {top:8px;width:2px;height:6px;}
    .modal.type2 .pop-foot .btn-area{padding:0 20px 25px}
    .modal.type2 .pop-foot .btn-area button {font-size:16px;height:50px;line-height:50px;}
    .modal.type2 .u-list li {padding-left:6px;font-size:12px;line-height:1.4;}
    .modal.type2 .u-list li + li {margin-top:7px;}
    .modal.type2 .u-list.circle-type li:before{top:6px;width:3px;height:3px;}

    /*5gx check-list style*/
    .text-wrap .t-title h3{font-size: 21px;}
    .text-wrap .t-title p{font-size:16px; margin-top:0;}
    .text-wrap ul li + li{margin-top: 17px;}
    .text-wrap .list p{padding-bottom: 10px !important;font-size:14px;margin-top:0;}
    .text-wrap .list strong{font-size:14px;}
    .text-wrap .list h4{font-size: 18px;}

    /*history section*/
    .history-section .tbl-area strong.tit {margin: 26px auto 15px;font-size: 18px;}
    .history-section .tbl-area strong.tit:before {content: '';display: inline-block;width: 4px;height: 10px;background: #4a4a4a;margin-right: 6px;margin-bottom: 2px;}

    /*tbl_row*/
    table td, table th {
        padding: 10px 15px 9.5px 17px;
        font-size: 12px;
    }

    .text-wrap .hashtag{padding:0;}
    .text-wrap .hashtag li{font-size:14px;}

    .container .event-wrap .input-warp div.inner.mt60{margin-top:0 !important;}

    /*note10 title style*/
    .event-wrap .title-area.text-type h1.note10-title{padding:10px 0;}
    .event-wrap .title-area.text-type h1.note10-title img{margin:0 auto; transform: scale(1.4);}

    .hash-area {margin-top:7px;}
    .hash-area .hash-tit{font-size:20px;}
    .hash-area .hash-badge{font-size:18px;}
    .hash-area .hash-box span{font-size:18px;}

    .radio-set.pic-radio p.pic-tit{padding:0 !important;white-space:nowrap;font-size:12px;}
    .radio-set.pic-radio p.pic-desc{padding:0 !important;font-size:12px;}
    .radio-set.pic-radio .label:after {width:18px;height:18px;}
    .radio-set.pic-radio input[type="radio"]:checked + .label:before {width:18px;height:18px;}

    .row-layout.pic-radio-type {padding:10px 15px 30px;}

}
@media only screen and (max-width: 400px) {
    .container .event-wrap .top-title > img{padding-top: 4%;}
    .container .event-wrap .input-warp p.text22 {font-size:16px;padding:20px 20px 15px 0}

    .hash-area .hash-box br {display:none;}
    .hash-area .hash-box span {display:block;}
    .hash-area .hash-box span + span {margin:0}

    .radio-set.pic-radio .label:after {width:16px;height:16px;}
    .radio-set.pic-radio input[type="radio"]:checked + .label:before {width:16px;height:16px;}

}
@media only screen and (max-width: 374px) {
    .container .event-wrap .form-area .chk-warp ul li input[type="checkbox"]+label{display:block;}
    .modal-container .close-icon{top: -23px;right:-5px;}
    .modal-container > .close-icon {top:20px;right:20px;}
    .container .info p{font-size: 15px;line-height:23px;}
    .container .info p:before{top: 4px;}
    .container .info ol li{line-height:21px;}

    .container .event-wrap .input-warp p.text22 {font-size:14px;padding:20px 10px 15px;margin-left:10px;}

    body.modal-open {
        overflow: hidden !important;
        position:fixed !important;
    }
    .container .event-wrap .title-area.text-type h1, .container .event-wrap .title-area.text-type strong, .container .event-wrap .input-warp p.text{font-size:15px;}
    .event-wrap .title-area.text-type h1.note10-title img{transform: scale(1);}

    .hash-area .hash-tit{font-size:16px;}
    .hash-area .hash-badge{font-size:15px;}
    .hash-area .hash-badge > span {vertical-align:2px;}
    .hash-area .hash-box {padding:25px 5px 10px}
    .hash-area .hash-box span{font-size:15px;}
}